{#
    Partial template containing common page header
#}

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ uri_for('dashboard') }}"><i class="fa fa-flask"></i> beardo</a>
    <p class="navbar-text navbar-right">
        {% if request.user %}
            <a class="navbar-link" href="{{ logout_url(uri_for('login')) }}">
                <i class="fa fa-sign-out"></i> Log Out
            </a>
        {% endif %}
    </p>
  </div>
</nav>
